#title-top {
    font-family: "Cambria", serif;
    font-weight: bolder;
    font-size: 130px;
    text-align: center;
    position: relative;
}

#title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-box {
    height: 90px;
    width: 110px;
    background: darkred;
    display: inline-block;
}

.white-background-box {
    color: white;
    height: 400px;
    width: 100%;
}

.top-links {
    color: dimgrey;
    position: relative;
    left: +80px;
    padding: 6px;
}

.nav-links {
    color: dimgrey;
    padding: 8px;
}

.normal-headline {
    text-align: left;
    font-size: 40px;
    background: white;
    width: 900px;
    padding: 20px;
}

.border {
    text-align: center;
    max-width: 600px;
    padding-left: 100px;
    padding-right: 100px;

}

.block {
    display: inline-block;
    width: 300px;
    height: 65px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.container {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.block img {
    width: 65px;
    height: 65px;
    top: 20px;
}